@model KingKindProjekt.Pages.OurPages.PageBase;

@*Lavet af Jeppe*@

<form method="post">
    <div class="input-group">
        <input asp-for="SearchWord" type="text" id="form2Example18" class="form-control form-control-lg" placeholder="Search..." />
        <input asp-page-handler="Search" type="submit" value="Search" class="btn btn-primary" asp-page="/OurPages/ViewProducts" asp-route-searchItems="@Model.SearchWord" />
    </div>
</form>

