@page
@model KingKindProjekt.Pages.OurPages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<p><a class="btn btn-primary" href="User" role="button">Go to User</a></p>

<p><a class="btn btn-primary" href="CreateItem" role="button">Create an item</a></p>

<p><a class="btn btn-primary" href="CreateSale" role="button">Create a sale</a></p>

<p><a class="btn btn-primary" href="CreateCoupon" role="button">Create a coupon</a></p>
