@page
@model KingKindProjekt.Pages.OurPages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

@*Lavet af Frederik*@

<h1>Thank you for shopping</h1>
    
    @{string[] strings = Model.currentReceipt.Split("\n");}
    @foreach (string s in strings)
    {
        <p>@s</p>
    }
    
<a class="btn btn-primary btn-lg btn-block" href="Cart" role="button">Go Back</a>
