@page
@model KingKindProjekt.Pages.OurPages.LoginModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>My Bootstrap test</title>
</head>
<body>
    <footer class="bg-dark text-white text-center py-2">
        <p>&copy; niab 2023 Bootstrap Website </p>
    </footer>
</body>
</html>
