@page
@model KingKindProjekt.Pages.OurPages.ViewProductsModel
@{
}
<link rel="stylesheet" type="text/css" href="css/ViewProducts.css" />

<div class="wrapper">
    <div class="brands">
        <h1>Brands</h1>
        @foreach (string brand in Model.Brands)
        {
            <p>@brand</p>
        }
    </div>
    <div class="mainPage">
        @foreach (Models.Item item in Model.itemService.Items)
        {
            <a>
                <div class="card" width="33%" height="auto">
                    <img src="@item.PathToImage">
                    <p>@item.Name</p>
                    <p>@item.Price</p>
                </div>
            </a>
        }
    </div>
</div>