@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card mx-auto" style="max-width: 900px;">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="~/res/Burhan.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Burhan</h5>
                <p class="card-text">Mit navn er burhan og jeg 40 år og har denne butik med min partner Rebar. Jeg er ejeren af King kind, og mit mål er at sørge for Danmark har de bedste tilbehør og maskiner til deres frisør!.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="col-md-2">
            <img src="~/res/Rabar.J.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Rebar</h5>
                <p class="card-text">Mit navn er shahab og jeg 40 år og har denne butik med min partner Shahab. Jeg har været i danmark i 10 år.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container text-center">
    <div class="row">
        <h2 class="col-xl-4">
            Hvad er vi?
        </h2>
        <h2 class="col-lg-4">
            Hvem er vi?
        </h2>
        <h2 class="col-xl-4">
            Hvad laver vi?
        </h2>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img src="~/res/Apron.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vi er King Kind</h5>
            <br />
            <p class="card-text">King Kind er dit næste stop i din karriere som frisør. Vi Har alle maskiner og tilbehør en frisør kan ønske sig, kom forbi og vi kan garnatere vi kan sætte dig på rette spor!</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="~/res/Burhan og Rebar 2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Burhan og Rebar</h5>
            <br />
            <p class="card-text">Vi er to venner, som har bestemt os for at åbne King Kind med både en entreprenør drøm og vision. Vi vil gerne sørge for danmarks frisører er bedst rustet til deres arbejde, samt give dem mulighed for at yde en service deres kunde ikke kan glemme! </p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="~/res/Bombevest.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vores stolthed og glæde</h5>
            <br />
            <p class="card-text">I King Kind er vi stolte at sige vi hver dag putter vores hjerte og sjæl i vores arbejde. Vi stræber os til at yde den bedste kundeservice muligt.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>