@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card mx-auto" style="max-width: 900px;">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="~/res/Burhan.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Burhan</h5>
                <p class="card-text">Mit navn er burhan og jeg 40 år og har denne butik med min partner Rebar. Jeg er ejeren af King kind, og mit mål er at sørge for Danmark har de bedste tilbehør og maskiner til deres frisør!.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="col-md-2">
            <img src="~/res/Rabar.J.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Rebar</h5>
                <p class="card-text">Mit navn er shahab og jeg 40 år og har denne butik med min partner Shahab. Jeg har været i danmark i 10 år.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-xl-4">
            Hvad er vi?
        </div>
        <div class="col-lg-4">
            Hvem er vi?
        </div>
        <div class="col-xl-4">
            Hvad laver vi i CrazyCandyLand?
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vi er CrazyCandyLand</h5>
            <p class="card-text">CrazyCandyLand er Ballerups lokale slikbutik, hvor vi har alt fra bland-selv slik til Amerikanske chips. Vi håber vores eksotiske udvalg er et besøg værd!</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Burhan og Shahab</h5>
            <p class="card-text">Vi er to brødre som er kurder fra Iran. Da vi kom til Danmark havde vi en entreprenør drøm om en dag eje vores egen Butik.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vores stolthed og glæde</h5>
            <p class="card-text">I CrazyCandyLand er vi stolte at sige vi hver dag putter vores hjerte og sjæl i vores arbejde. Vi stræber os til at yde den bedste kundeservice muligt.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>